.control{
    border-bottom: 1.5px solid var(--elixir-red);
    border-top: 1.5px solid var(--elixir-red);
    display: flex;
    justify-content: space-between;
}

.control-left,
.control-right
{
    display: flex;
    background-color: var(--secondary-colour);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

p{
    font-family: arial, serif;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--font-colour);
}

input{
    height: 20px;
    border: 1.5px solid #7c7c7c;
    border-radius: 5px;
}

button{
    margin-left: 10px;
    margin-right: 10px;
    font-family: arial, serif;
    color: var(--font-colour);
    font-size: 15px;
    border: 1.5px solid #7c7c7c;
}

img{
    height: 32px;
    width: 32px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

button:hover{
    border: 1.5px solid var(--elixir-red);
}