

.control{
    display: flex;
    background-color: var(--secondary-colour);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px 10px 10px;
    align-items: center;
    border-bottom: 1.5px solid var(--elixir-red);
    border-top: 1.5px solid var(--elixir-red);
}

p{
    font-family: arial, serif;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--font-colour);
}

input{
    height: 25px;
    border: 1.5px solid #7c7c7c;
    border-radius: 5px;
}